.page-layout-1column .column.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.page-title-wrapper{
    display: flex;
    justify-content: center;
}

.page-main > .page-title-wrapper .page-title {
    hyphens: auto;
    font-weight: 500;
}

.login-page-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid lightgrey;
}

.login-page-title:first-child{
    border-left: none;
}

.login-container{
    display: flex;
    justify-content: center;
    width: 50%;
    min-width: 600px;
    flex-direction: column;
    align-items: center;

    .block-customer-login{
        width: 100%;
        margin-bottom: 0;
    }

    .block .block-title {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        height: 5.5rem;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .block .block-title{
        border-bottom: none;
    }

    .block .block-title strong {
        font-weight: 500;
        font-size: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .email input, .login-container .password input{
        border-radius: 4px;
        height: 4.3rem;
    }

    .fieldset > .field > .control{
        width: 100%;
    }

    .fieldset:after{
        display: none;
    }
}

.field.password .control .input-text{
    height: 4.3rem;
    border-radius: 4px;
}

.sign-in-upper-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3rem;

}

.register-link{
    padding: 3rem;
    text-decoration: underline;
    letter-spacing: 0.1rem;
}

.register-link a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.actions-toolbar > .primary .action:last-child, .actions-toolbar > .secondary .action:last-child {
    width: 100%;
    color: black;
    font-weight: 500;
}

.actions-toolbar > .primary .action:last-child{
    border: none;
    background-color: #ffbd3a;
}

.actions-toolbar > .primary, .actions-toolbar > .secondary{
    width: 50%;
}

.actions-toolbar > .primary .action{
    margin: 0;
}

.actions-toolbar .primary, .actions-toolbar .secondary {
    float: left;
    height: 4.7rem;
    border-radius: 0.5rem;
}
.actions-toolbar > .secondary .action:last-child {
    text-decoration: underline;
    margin: 0;
}

.actions-toolbar > .secondary:last-child{
    margin-left: 0;
    margin-top: 0;
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.actions-toolbar{
    display: flex;
    justify-content: center;
}

.terms-of-service{
    display: flex;
    padding-bottom: 2rem;

    a{
        text-decoration: underline;
        color: black;
        opacity: 0.7;
    }

    label{
        margin: 0.5rem 0 0 1rem;
        font-weight: 300;
    }

    input{
        margin: unset;
        top: unset;
        width: 2.5rem;
        height: 2.5rem;
        opacity: 0.5;
    }
}

.or-title{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

.or-title p{
    font-size: 1.6rem;
}

.account-social-login {
    width: 50%;

    .actions-toolbar{
        width: 100%;
        height: 4.7rem;
        margin: 1rem 0 1rem 0;
        display: flex;
        align-items: center;
        border-radius: 3.5px;
    }

    .actions-toolbar a{
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .actions-toolbar.facebook-login{
        background-color: #3b5998;
    }

    .actions-toolbar.amazon-login{
        background-color: #FF9900;
    }

    .actions-toolbar.google-login{
        background-color: #4285F4;
    }
}

.login-page-title button{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-bottom: -1px;
}

.login-page-title button:active, .login-page-title button:focus, .login-page-title button:target, .btn-activated{
    border-bottom: none;
    box-shadow: none;
}

.btn-activated{
    border-bottom: none !important;
}

.form.create.account{
    margin-top: 5rem;

    .actions-toolbar{
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .additional_info{
        display: none;
    }

    .actions-toolbar .secondary{
        height: 0;
    }

    .control input, .form-create-account .password input{
        border-radius: 4px;
        height: 4.3rem;
    }

}

#form-validate{
}
@media (max-width: 767px){
    .login-container{
        min-width: unset;
        width: 100%;
    }

    #form-validate{
        width: 100%;
    }
}

@media (max-width: 424px){
    .account-social-login {
        width: 100%;
    }

}
