<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Generic.Files.LineLength.TooLong

/** @var \Magento\Customer\Block\Form\Login $block */
?>
<div class="block block-customer-login">
    <div class="block-title">
        <div class="login-page-title" id="sign-btn">
            <button id="block-customer-login-heading-sign" class="sign-in-btn" ><?= $block->escapeHtml(__('Sign-in')) ?></button>
        </div>

        <div class="login-page-title" id="reg-btn">
            <button id="block-customer-login-heading-reg" class="register-btn"><?= $block->escapeHtml(__('Register')) ?></button>
        </div>
    </div>
    <div class="block-content" id="login-content-block" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>"
              method="post"
              id="login-form"
              data-mage-init='{"validation":{}}'>
            <?= $block->getBlockHtml('formkey') ?>
            <fieldset class="fieldset login" data-hasrequired="<?= $block->escapeHtml(__('* Required Fields')) ?>">
                <div class="sign-in-upper-content">
                    <div class="field note"><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></div>
                    <div class="register-link"><a href="#">Register</a> </div>
                </div>
                <div class="field email required">
                    <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">

                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>"
                            <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                               id="email" type="email" class="input-text"
                               title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                               data-mage-init='{"mage/trim-input":{}}'
                               data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label for="pass" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password"
                            <?php if ($block->isAutocompleteDisabled()): ?> autocomplete="off"<?php endif; ?>
                               class="input-text" id="pass"
                               title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                               data-validate="{required:true}">
                    </div>
                </div>
                <div class="terms-of-service">
                    <input type="checkbox" data-validate="{required:true}" name="custom-terms" id="register-input-custom" class="checkbox">
                    <label for="custom-terms" class="label">
                <span>
                    <?php echo __('I agree to my data being processed in accordance with Noted Print <a href="/privacy-policy-cookie-restriction-mode">Privacy Policy</a>') ?><a href="<?php echo $this->getUrl('redirection');?>"></a>
                </span>
                    </label>
                </div>
                <?= $block->getChildHtml('form_additional_info') ?>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?= $block->escapeHtml(__('Sign In')) ?></span></button></div>
                    <div class="secondary"><a class="action remind" href="<?= $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?= $block->escapeHtml(__('Forgot Your Password')) ?></span></a></div>
                </div>

                <div class="or-title"><p>or</p> </div>


            </fieldset>
        </form>
    </div>
    <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Customer/js/block-submit-on-send": {
                    "formId": "login-form"
                },
                "Magento_Ui/js/core/app": {
                    "components": {
                        "showPassword": {
                            "component": "Magento_Customer/js/show-password",
                            "passwordSelector": "#pass"
                        }
                    }
                }
            }
        }
    </script>

    <script>

        require(['jquery'], function($){

            let signBtn = $('#block-customer-login-heading-sign');
            let regBtn = $('#block-customer-login-heading-reg');

            $(signBtn).addClass('btn-activated');

            $(regBtn).add(signBtn).click(function(){
                $(signBtn).add(regBtn).removeClass('btn-activated');
                $("#form-validate, #login-content-block").hide();
                $(this).addClass('btn-activated');
                $(signBtn).hasClass('btn-activated') ? $("#login-content-block").show() : $("#form-validate").show()
            })
        });

    </script>
</div>
